$white: #ffffff;
$black: #000000;

$purple: #8431cc;
$purupleLight: #a53dff;
$purupleLighter: rgba(237, 216, 255, 0.5);
$blackLight: rgba(51, 51, 51, 1);
$blackLighter: rgba(19, 34, 56, 1);
$grayLight: #424e60;
$grayLighter: rgba(105, 116, 132, 1);
$grayProcess: rgba(240, 241, 243, 1);
$grayProcessLight: rgba(255, 255, 255, 1);
$grayProcessLighter: rgba(135, 144, 157, 1);
$grayProcessLightest: rgba(85, 96, 112, 1);
$grayPortfolioBorder: rgba(230, 232, 235, 1);
$blue: rgba(19, 34, 56, 1);
$whiteGray: rgba(165, 172, 181, 1)
