@use "../variables" as *;

.footer {
  padding: 192px 0 82px 0;
  background-color: $grayTestimonial;
 
  .container {
    .footerContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 96px;
      .footerLogo {
        display: flex;
        gap: 12px;
        align-items: center;
        cursor: pointer;
        img {
          width: 56px;
          height: 56px;
        }
        span {
          color: $grayProcessLight;
          font-size: 32px;
          font-weight: 500;
          line-height: 40px;
        }
      }
      .nav {
        .navList {
          .navItem {
            a {
              color: $grayProcess;
            }

            &:last-child{
                background-color: transparent;
            }
          }
        }
      }
      .copyright {
        color: $grayProcessLight;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}
